.OpinionUsers {
  margin: 10px 0;
}

.OpinionUsers .top_logo {
  text-align: right;
}

.OpinionUsers .body_title {
  font-size: 1.1rem !important;
}



.boxSlider {
  background-color: #1c1c19;
  padding: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}



.box_right {
  grid-column: 6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;

}



.box_right .logo {
  color: #fff;
  font-size: 1.5rem;

}

.OpinionUsers .mySwiper {
  flex-basis: calc(100% - 100px);
  color: #fff;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.OpinionUsers .swiper-button-next {
  position: absolute;
  top: 50%;
  right: -15px;
  width: 50px;
  height: 50px;
}

.OpinionUsers .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -15px;
  width: 50px;
  height: 50px;
}

.box_right .title {
  color: #7db201;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transform: rotate(-90deg);
}

.box_left {
  grid-column: 1/6;
  overflow: hidden;
}

.box_left .opinion {
  font-size: .9rem !important;
}

.opinion_content {
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.img_user {
  width: 100px;
  height: 100px;
}

.OpinionUsers p {
  text-align: center;
}

.rightLogo img,
.leftLogo img {
  width: 20px;
  height: 10px;
}

.rightLogo {
  display: flex;
  justify-content: end;
}

.leftLogo {
  display: flex;
  justify-content: start;
}