.relation {
  position: relative;
  border: 5px solid #1c1c1a;
  border-right-width: 8px;
  background-color: #7db201;
  border-bottom-width: 8px;
  width: 100%;
  padding: 80px 30px;
  box-shadow: 0 0 5px 1 black;
  border-radius: 10px 10px 15px 15px;
  text-align: center;
  color: #fff;
}

.relation_logo {
}

.relation .relation_title {
  line-height: 35px;
}

.relation_btn {
  border: none;
  margin-top: 20px;

  padding: 10px 15px;
  background-color: #1c1c1a;
}

.relation_btn:hover {
  background-color: #292925;
}
